// Global variables
$html-font-size-sm: 12px;
$html-font-size-m: 16px;
$html-font-size-lg: 20px;

// Colors
$dark: #2e2b30;
$light: #fff;
$green: #25ba06;

// Font variables
$font-family-base: "Abel Regular";
$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-m: 1rem;
$font-size-lg: 1.25rem;
