.mt-30 {
  margin-top: 3rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-125 {
  margin-top: 12.5rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-96 {
  margin-top: 9.6rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.ml-60 {
  margin-left: 6rem;
}

.m-auto {
  margin: auto;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-96 {
  padding-top: 9.6rem;
}

.pb-80 {
  padding-bottom: 8rem;
}

.pr-25 {
  padding-right: 2.5rem;
}
