.mw-250 {
  max-width: 25rem;
}

.mw-290 {
  max-width: 29rem;
}

.containner {
  max-width: 125rem;
  margin: auto;
}

.p-relative {
  position: relative;
}

.d-inline {
  display: inline-block;
}

.text-right {
  text-align: right;
}

// general class for texts
.text-center {
  text-align: center;
}

// font-size for texts
.fs-16 {
  font-size: 1.6rem;
}

.fs-32 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}

.fs-36 {
  font-size: 3.6rem;
  line-height: 3.6rem;
}

// font-weight for texts
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

// font-height for texts
.lh-20 {
  line-height: 2rem;
}
