/* container */
.video {
	font-weight: 100;
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 1253px;
}
.video *,
.video *:before,
.video *:after {
	box-sizing: border-box;
}
.video video {
	width: 100%;
	display: block;
}
.video button {
	text-align: left;
	color: var(--color-trans);
	background-color: transparent;
	padding: 0;
	border: 0;
	appearance: none;
}
.video button,
.video [type="range"] {
	cursor: pointer;
}
.video [type="range"] {
	background-color: transparent;
	-webkit-appearance: none;
}

/* custom range input styling: http://danielstern.ca/range.css/#/ */
.video [type="range"]::-webkit-slider-thumb {
	background: var(--color-white);
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin-top: -7px;
	-webkit-appearance: none;
}
.video [type="range"]::-moz-range-thumb {
	background: var(--color-white);
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin-top: -7px;
}
.video [type="range"]::-ms-thumb {
	background: var(--color-white);
	height: 16px;
	width: 16px;
	border-radius: 50%;
	margin-top: -7px;
}
.video [type="range"]::-webkit-slider-runnable-track {
	background: var(--color-trans);
	height: 2px;
}
.video [type="range"]::-moz-range-track {
	background: var(--color-trans);
	height: 2px;
}
.video [type="range"]::-ms-track {
	background: var(--color-trans);
	height: 2px;
}
.video [type="range"]::-ms-thumb {
	background: var(--color-trans);
	height: 2px;
}


/* status icon (big symbol when playing/pausing video) */
.video__statusIcon {
	width: 100px;
	height: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	filter: drop-shadow(2px 4px 6px var(--color-black));
	z-index: var(--zindex-meta);
	transition: var(--transition);
	opacity: 0;
}

.video:hover .video__statusIcon,
.video:focus .video__statusIcon {
	opacity: 1;
}


.video__statusIcon svg {
	width: 100%;
	height: 100%;
	
}


/* meta/controls */

.video__controls {
	width: 100%;
	padding: var(--layout-gutter);
	position: absolute;
	left: 0;
	z-index: var(--zindex-meta);
	opacity: 0;
	transition: var(--transition);
}
.video:hover .video__controls,
.video:focus .video__controls {
	opacity: .5;
}
.video .video__controls:hover,
.video .video__controls:focus,
.video .video__controls:focus-within {
	opacity: 1;
}
.video__controls {
	font-size: 13px;
	background: linear-gradient(
		to top,
		hsl(0, 0%, 14%) 0%,
		hsla(0, 0%, 14%, 0.738) 19%,
		hsla(0, 0%, 14%, 0.541) 34%,
		hsla(0, 0%, 14%, 0.382) 47%,
		hsla(0, 0%, 14%, 0.278) 56.5%,
		hsla(0, 0%, 14%, 0.194) 65%,
		hsla(0, 0%, 14%, 0.126) 73%,
		hsla(0, 0%, 14%, 0.075) 80.2%,
		hsla(0, 0%, 14%, 0.042) 86.1%,
		hsla(0, 0%, 14%, 0.021) 91%,
		hsla(0, 0%, 14%, 0.008) 95.2%,
		hsla(0, 0%, 14%, 0.002) 98.2%,
		hsla(0, 0%, 14%, 0) 100%
	);
	bottom: 0;
}
.video__controls__lower {
	padding: 0px 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-trans);

}
.video__controls__left {
	display: flex;
	flex-grow: 1;
}
.video__controls__right {
	display: flex;
	align-items: center;
}
.video__scrub {
	width: 100%;
	height: 40px;
	position: relative;
}
.video__scrub:focus-within {
	outline: none;
}
.video__scrub__scrubber {
	width: calc(100% + var(--scrubberSize));
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: calc(var(--scrubberSize) / 2 * -1);
	opacity: 0;
}
.video__scrub__track,
.video__scrub__line {
	height: 2px;
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	pointer-events: none; /* .video__scrub__scrubber does the actual work */
}
.video__scrub__track {
	background-color: var(--color-trans);
	width: 100%;
}
.video__scrub__line {
	background-color: var(--color-white);
}
.video__scrub__line::before,
.video__scrub__line::after {
	content: '';
	width: var(--scrubberSize);
	height: var(--scrubberSize);
	border-radius: 50%;
	position: absolute;
	top: calc(50% - var(--scrubberSize) / 2);
	right: calc(var(--scrubberSize) / 2 * -1);
}
.video__scrub__line::before {
	background-color: var(--color-white);
}
.video__scrub__line::after {
	background-color: var(--color-trans);
	transform: scale(0);
	transition: var(--transition);
}
.video__scrub:hover .video__scrub__line::after,
.video__scrub:focus .video__scrub__line::after,
.video__scrub:focus-within .video__scrub__line::after {
	transform: scale(.7);
}
.video__scrub__preview {
	color: var(--color-trans);
	background-color: var(--color-black-transparent);
	padding: 4px 10px;
	position: absolute;
	bottom: 100%;
	left: 0;
	pointer-events: none;
	transform: translate3d( -50%, 0, 0 );
	animation: fadeIn .2s ease-in-out both;
}
.video__play,
.video__volume__toggle,
.video__fullscreen {
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.video__play svg,
.video__volume__toggle svg,
.video__fullscreen svg {
	width: 20px;
	height: 20px;
}
.video__play:hover svg #play,
.video__play:focus svg #play {
	stroke-dasharray: 300;
    stroke-dashoffset: 600;
	transition: var(--transition-slow);
}
.video__play:hover svg #line1,
.video__play:focus svg #line1 {
	stroke-dasharray: 100;
    stroke-dashoffset: 200;
	transition: var(--transition-slow);
}
.video__play:hover svg #line2,
.video__play:focus svg #line2 {
	stroke-dasharray: 100;
    stroke-dashoffset: -200;
	transition: var(--transition-slow);
	transition-delay: .2s;
}
.video__volume__toggle:hover svg #speaker,
.video__volume__toggle:focus svg #speaker {
	stroke-dasharray: 220;
    stroke-dashoffset: 440;
	transition: var(--transition-slow);
}
.video__volume__toggle #volume1,
.video__volume__toggle #volume2,
.video__volume__toggle #volume3 {
	stroke-dashoffset: 0;
	transition: var(--transition);
}
.video__volume__toggle #volume1,
.video__volume__toggle #volume2,
.video__volume__toggle #volume3 {
	stroke-dasharray: 150;
	stroke-dashoffset: -150;
}
.video__volume__toggle.isMuted #volume1,
.video__volume__toggle.isMuted #volume2,
.video__volume__toggle.isMuted #volume3 {
	stroke-dashoffset: 0;
}
.video__volume__toggle.level1 #volume1 {
	stroke-dashoffset: 0;
}
.video__volume__toggle.level2 #volume2 {
	stroke-dashoffset: 0;
}
.video__volume__toggle.level3 #volume3 {
	stroke-dashoffset: 0;
}
.video__volume__toggle #mute {
	stroke-dasharray: 140;
	stroke-dashoffset: 140;
	transition: var(--transition);
}
.video__volume__toggle.isMuted #mute {
    stroke-dashoffset: 0;
}
.video__fullscreen:hover svg #fullscreen,
.video__fullscreen:focus svg #fullscreen {
	stroke-dasharray: 90;
    stroke-dashoffset: -180;
	transition: var(--transition-slow);
}
.video__volume {
	display: flex;
    align-items: center;
}
.video__volume__scrub {
	height: 39px;
	margin: 0;
	transition: var(--transition);
}

/* keyframes */
@keyframes bounce {
	10% {
		transform: translate3d(0, -16px, 0) scale(1, 1.3);
		transform-origin: center bottom;
	}
	20% {
		transform: translate3d(0, 0, 0) scale(1, .7);
	}
	30% {
		transform: translate3d(0, -8px, 0) scale(1, 1.2);
	}
	40% {
		transform: translate3d(0, 0, 0) scale(1, .8);
	}
	50% {
		transform: translate3d(0, -4px, 0) scale(1, 1.13);
	}
	60% {
		transform: translate3d(0, 0, 0) scale(1, .9);
	}
	70% {
		transform: translate3d(0, -2px, 0) scale(1, 1.07);
	}
	80% {
		transform: translate3d(0, 0, 0) scale(1, .95);
	}
	90% {
		transform: translate3d(0, -1px, 0) scale(1, 1.03);
	}
	100% {
		transform: translate3d(0, 0, 0) scale(1, 1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes statusIcon {
	0% {
		opacity: 0;
		transform: scale(.8);
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}