.footerLinks-Container {
  display: flex;
  flex-wrap: wrap;
}

.footerLinks-Wrapper {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 50px;
  flex: 1 1 30%; 
}

.footerLinks-Anchor {
  display: flex;
  font-family: canada-type-gibson;
  font-size: 10px;
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;

  letter-spacing: 1px;
  color: var(--white);
  opacity: 1;
}

.footerLinks-Text {
  font-size: 10px;
}