.slide__wrapper {
  position: relative;
  z-index: 1;
  left: -20px;
  top: 45px;
  border: 2px solid var(--black);
  color: var(--black);
  width: 425px;
  height: 455px;
  text-align: center;
}

.slide__body {
  height: 355px;
}

.slide__tag {
  color: var(--tag);
  font-size: 16px;
  font-family: canada-type-gibson;
  font-weight: 600;

  margin-top: 33px;
}

.slide__title {
  font: Bold 32px/36px Merriweather;
  letter-spacing: 0px;
  
  margin-top: 70px;
  height: 72px;
}

.slide__text {
  margin-top: 41px;
  font: Regular 16px/20px Merriweather;
  letter-spacing: 0px;
}

.slide__footer {
  padding: 18px 0px;
  margin: 0px auto;
  height: 16px;
  bottom: 0px;
  border-top: 2px solid var(--black);
}